<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="TransferedSessionID" value="server=192.168.3.70\MSSQLSERVER2014;User ID=CTIDialer;password=dialer;database=OnTraceWeb;Connection Reset=FALSE"/>
    <add key="DinamicIVR" value="false"/>
    <add key="WebRTC" value="true"/>
    <add key="m_defaultUsername" value="Mobile1"/>
    <!--<add key="ProjectID" value="2"/>-->
    <add key="ProjectID" value="1"/>
    <add key="MobileAndroid" value="true"/>
    <add key="IVRDirectory" value="C:\"/>
    <add key="MinimumFreeSize" value="1"/>
    <add key="VoiceLogFolder" value="C:\VoiceLog\"/>
    <add key="DbServerConnectionString" value="server=192.168.3.70\MSSQLSERVER2014;User ID=CTIDialer;password=dialer;database=Prudential_VeServerDB;Connection Reset=FALSE"/>
    <add key="DbServerLogConnectionString" value="server=192.168.3.70\MSSQLSERVER2014;User ID=CTIDialer;password=dialer;database=Prudential_VeServerDBLog;Connection Reset=FALSE"/>
  </appSettings>
</configuration>
